*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.header{
    color: blue;
    background-color: aquamarine;
    width: 200px;
    border: 5px solid gold;
    border-radius: 20px;
    margin: auto;

}
p{
    color: blue;
    background-color: beige;
    width: 200px;
    margin: auto;
}